/*Fuente*/
@font-face {
    font-family: 'Poppins Black';
    src: url(../font/Poppins-Black.ttf);
    font-family: 'Poppins Italic';
    src: url(../font/Poppins-BlackItalic.ttf);
    font-family: 'Poppins Bold';
    src: url(../font/Poppins-Bold.ttf);
    font-family: 'Poppins Bold Italic';
    src: url(../font/Poppins-BoldItalic.ttf);
    font-family: 'Poppins Light';
    src: url(../font/Poppins-Light.ttf);
    font-family: 'Poppins Medium';
    src: url(../font/Poppins-Medium.ttf);
    font-family: 'Poppins Regular';
    src: url(../font/Poppins-Regular.ttf);
    font-family: 'Poppins Thin';
    src: url(../font/Poppins-Thin.ttf);
    font-family: 'Unna Bold';
    src: url(../font/Unna-Bold.ttf);
    font-family: 'Unna Bold Italic';
    src: url(../font/Unna-BoldItalic.ttf);
    font-family: 'Unna Regular';
    src: url(../font/Unna-Regular.ttf);
}
  