/*Variables*/
$fontSizeGrande: 30px;
$fontSizeMediana: 25px;
$fontSizeChica: 20px;
$fontSizeCelu: 15px;
$anchoMax: 100%;
$anchoMedio: 50%;
$colorRosa1: #E4A4B5;
$colorRosa2: #E9BFCB;
$colorRosa3: #B87587;
$colorRosa4: #9d8189;
$colorRosa5: #744b57;
$colorRosa6: #e3a8c2;
$colorRosa7: #e8acbb;
$colorRosa8: #f3bdd4;
$colorDorado1: #f2d265;
$colorDorado2: #ebcc5d;
$colorDorado3: #d9b23d;
$colorDorado4: #f7d894;
$colorDorado5: #F8C898;

/*Modificar a futuro*/


