.nav-header {
    @include fuente('Unna Black', $fontSizeChica, #191919);
    box-shadow: -1px 6px 4px 0px rgba(0, 0, 0, 0.9);

    a {
        color: #191919;
    }

    .nav-content {
        background: #B6ACDA;
        background: -moz-linear-gradient(-45deg, #B6ACDA 0%, #EEB0CC 60%, #F3BDD4 100%);
        background: -webkit-linear-gradient(-45deg, #B6ACDA 0%, #EEB0CC 60%, #F3BDD4 100%);
        background: linear-gradient(135deg, #B6ACDA 0%, #EEB0CC 60%, #F3BDD4 100%);
        //background:$colorRosa8;
        height: 70px;
        align-items: center;

        .nav-logo {
            @include sizes(100%, 10%);

            img {
                @include sizes(100%, auto);
            }
        }

        div.nav-navegacion {
            @include sizes(50%, 40%);

            .nav-menu {
                @include sizes(100%, 100%);

                .nav-menu-list {
                    @extend .padre-flex-row-position;
                    align-self: center;
                    @include sizes(100%, 100%);
                    justify-self: center;
                    padding: 10px;

                    li:hover {
                        text-shadow: 0 1px 0 #120f0f, 0 2px 0 $colorDorado4, 0 3px 0 $colorDorado4, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 3px 5px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15), 2px 2px 2px rgba(206, 89, 55, 0);
                    }
                }
            }
        }

        .nav-area {
            @extend .padre-flex-row-position;
            @include sizes(60%, 12%);

            span {
                background-color: white;
                padding: 10px;
                border: none;
                border-radius: 15px;
                -webkit-box-shadow: -1px 6px 4px 0px rgba(0, 0, 0, 0.41);
                box-shadow: -1px 6px 4px 0px rgba(0, 0, 0, 0.41);

                &:hover {
                    -webkit-box-shadow: 2px 6px 14px 1px #000000;
                    box-shadow: 2px 6px 14px 1px #000000;
                }

                &.cantidadCarrito {
                    background-color: $colorDorado4;
                    @include fuente('Unna Black', $fontSizeChica, black);
                    border-radius: 50%;
                    align-items: center;
                    padding: 13px;
                    top: 5px;
                    right: 175px;
                    @include sizes(12px, 12px);
                    position: absolute;
                    display: none;
                    cursor: default;

                    &:hover {
                        -webkit-box-shadow: -1px 6px 4px 0px rgba(0, 0, 0, 0.41);
                        box-shadow: -1px 6px 4px 0px rgba(0, 0, 0, 0.41);
                    }
                }
            }
        }
    }
}